html 
    head 
        title="Welcome"
    body
        include ../partials/header.pug
        h1='HOOOOOOOOOOOOO'
       h1='HOOOOOOOOOOOOO'
       h1='HOOOOOOOOOOOOO'
       h1='HOOOOOOOOOOOOO'
       h1='HOOOOOOOOOOOOO'
        include ../partials/footer.pug